include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
include relask/package.json
include relask/relask.js
include relask/babelRelayPlugin.js

recursive-include tests *
recursive-include relask/templates *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
